* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1, h2, h3, h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #93ceff;
}

p {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}

.navbar nav {
    font-size: 18px;
    font-family: "Nunito Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .logo-container .logo {
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1e2d47; 
}

nav ul {
    display: flex; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
    text-transform: lowercase;
    color: #444;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: inherit;
}

nav li a:hover {
    color:#93ceff;
}

/* Content */
p {
    color: #000000;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px;
    font-size: 18px;
}

.col-2 img {
    max-width: 120%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #93ceff; 
    color: #fff;
    padding: 20px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: background 0.5s, color 0.5s, border 0.5s;
}

.btn:hover {
    background: transparent;
    color: #93ceff;
    padding: 20px 30px;
    border: 1px solid #93ceff;
    border-radius: 30px; 
}

.header { 
    background:#f6fbff;
}

.header .row {
    margin-top: 70px;
}

.section { 
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    background-color: #93ceff;
}

.section h2, .section p {
    margin-bottom: 5px;
    color: white; 
}

.ratings {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    max-width: 400px; 
    margin: 0 auto;
}

.ratings p {
    margin: 0; 
    padding: 0; 
}

.categories {
    display: flex;
    margin: 70px 20px;
}

.col-3 { 
    flex-basis: 30%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.col-3 h4, .col-3 p, .col-3 .rating {
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #93ceff;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer p { 
    color: #fff; 
    margin-top: 10px;
}

.footer-container {
    max-width: 1080px;
    margin: 0 auto;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10.05px;
    width: 250px; 
    border: none;
    border-radius: 30px 0 0 30px;
    font-size: 12px; 
    font-weight: 200 !important; 
}

.newsletter-form .btn {
    padding: 9.5px 15px;
    border-radius: 0 30px 30px 0;
    border: 0.1px solid #ffffff; 
    background-color: #93ceff;
    color: #fff;
    font-weight: 200 !important; 
    font-size: 12px; 
    cursor: pointer;
}

.newsletter-form input[type="email"]::placeholder {
    color: #999; 
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-column {
    flex: 1;
    min-width: 150px;
    margin: 20px 0;
}

.link-column h4 {
    font-family: "Nunito Round", sans-serif;
    font-weight: 200 !important;
    font-size: 18px;
    margin-bottom: 20px;
}

.link-column ul {
    list-style: none;
    padding: 0;
}

.link-column ul li {
    margin-bottom: 10px;
}

.link-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.link-column ul li a:hover {
    color: #ddd;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ddd;
}

.footer-bottom {
    border-top: 1px solid #ffffff;
    margin-top: 20px;
    padding-top: 20px;
}
